/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: red;
  display: flex;
} */

/* header {
  background-color: #0077B5;
  color: #fff;
  height: 400px;

  align-items: center;
  justify-content: center;
} */

.my_image {
  width: 450px;
  height: 350px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  margin-top: 15px;
  
}

.my_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__container {
  align-items: center;
  text-align: center;
  display: flex;
}

.header__content {
  margin-top: 0.5rems;
  margin-bottom: 1rem;
}
.header__content h3,
.header__content h1 {
  margin: 0;
  font-weight: 700;
  color: #333;
}

.header__content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.header__container #leftHeader {
  margin-top: 130px;
}
.header__container #leftHeader .header__content{
  margin-left: 150px;
}

.header__content h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.text-light {
  color: black;
  font-weight: 400;
  margin-bottom: 2rem;
}

.CTA {
  margin-top: 2rem;
}

.HeaderSocial {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.scroll__down {
  color: black;
  font-size: 0.9rem;
  font-weight: 300;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-top: 2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.scroll__down:hover {
  color: #fff;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .header__content h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .my_image {
    width: 100px;
    height: 100px;
  }

  .header__content h1 {
    font-size: 2rem;
  }

  .text-light {
    font-size: 0.9rem;
  }
}
.cta  #lest{
  background-color: black;
  color:white;
margin-left:20px
}
.cta #download{
  border: 2px solid black;
  color:black;
  background-color: white;
}
