#contact {
  padding: 80px 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-color: aliceblue;
  border-radius: 15px;
  gap: 20px;
}

.contact__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.contact__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 200px; /* Adjust the width as per your preference */
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.contact__option__icon {
  font-size: 48px;
  margin-bottom: 10px;
}

.contact__option h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact__option h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.contact__option a {
  text-decoration: none;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
